div{
    background-color: #eee9da;
}
body{
    background-color: #eee9da;
}

.btn-warning {
    background-color: #e7c24a !important; 
}
.page-item.active .page-link, .btn-primary{
    background-color: #133344;
}

button.btn.btn-primary.btn-lg.dropdown-toggle.show {
    background-color: #2e6985 !important;
}

.btn-primary:hover{
    background-color: #2e6985 !important;
}

.btn-primary:focus{
    background-color: #133344 !important;
    border-color: #eee9da00;
}

div#exampleModal.modal.fade.show {
    background-color: #eee9da00;
}

.table td, .table th {
    text-align: left !important;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}