div{
    background-color: #eee9da;
}
body{
    background-color: #eee9da;
}

.btn-warning {
    background-color: #e7c24a !important; 
}
.page-item.active .page-link, .btn-primary{
    background-color: #133344;
}

button.btn.btn-primary.btn-lg.dropdown-toggle.show {
    background-color: #2e6985 !important;
}

.btn-primary:hover{
    background-color: #2e6985 !important;
}

.btn-primary:focus{
    background-color: #133344 !important;
    border-color: #eee9da00;
}

div#exampleModal.modal.fade.show {
    background-color: #eee9da00;
}

.table td, .table th {
    text-align: left !important;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.form-select{
    width: 100%;
}

.footer {
    /* --cui-footer-min-height: 3rem; !!important */
    /* --cui-footer-padding-x: 1rem; !important */
    /* --cui-footer-padding-y: 0.5rem; !important */
    /* --cui-footer-color: var(--cui-body-color); !important */
    /* --cui-footer-bg: var(--cui-tertiary-bg); !important */
    /* --cui-footer-border-color: var(--cui-border-color); !important */
    /* --cui-footer-border: var(--cui-border-width) solid var(--cui-footer-border-color); !important */
display: block !important;
--cui-footer-border: none !important;
--cui-footer-bg: none !important;
    /* flex-wrap: wrap; !important */
    /* align-items: center; !important */
    /* justify-content: space-between; !important */
    /* min-height: var(--cui-footer-min-height); !important */
    /* padding: var(--cui-footer-padding-y) var(--cui-footer-padding-x); !important */
    /* color: var(--cui-footer-color); !important */
    /* background: var(--cui-footer-bg); !important */
    /* border-top: var(--cui-footer-border); !important */
}

.panel.panel-primary{
    max-height: 60vh;
    overflow-y: auto;
}

.panel.panel-table-body{
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: none;
}

.modal-content{
    width: 375%;
}

.modal-dialog{
    margin-left: 1% !important;
}

div#staticBackdrop.modal.fade.show{
    background-color: #eee9da00 !important;
}

button#v-pills-home-tab.nav-link.active{
    background-color: #fff3cd;
}

button#v-pills-home-tab.nav-link{
    color: black;
}

button#v-pills-messages-tab.nav-link.active{
    background-color: #fff3cd;
}

button#v-pills-messages-tab.nav-link{
    color: black;
}

button#v-pills-profile-tab.nav-link.active{
    background-color: #fff3cd;
}

button#v-pills-profile-tab.nav-link{
    color: black;
}

.divcrl{
    height: 350px;
    overflow-y: scroll;
}
